// Fonts
$font: 'Source Sans Pro', sans-serif;

$surface: #fff;
$text-high_emphasis: #1a2140;
$text-medium_emphasis: #697292;
$text-disabled: #dadde6;

// Primary colors
$primary-dark: #001247;
$primary-regular: #002cb2;
$primary-light: #3c67e7;

$secondary-destructive: #a70022;
$secondary-warning: #ffba00;
$secondary-success: #02a683;
$secondary-help: #4c32a6;

$neutral-dark: #0d0e27;
$neutral-regular: #1d205b;
$neutral-light: #ebeff6;
